
<body>

  <div style="height: 50px">
  </div>
  

      <h2> Add New User </h2>

      <%= render 'form' %>

<div class="span9">
  <%= image_tag("back-icon.png", :border => 0) %>
  <%= link_to 'Back', users_path, :class=> 'btn' %>
</div>
</body>
